.cs-page {
  display: flex;
  flex-direction: row;
}
.cs {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cs-logo {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 4% 0%;
}
.cs-form {
  width: 40%;
}
.cs-form input, .cs-form textarea {
  padding: 5px;
  background-color: #DDD;
  border: 1px solid #000;
  border-radius: 8px;
  margin: 25px 0px;
  padding: 10px;
  font-size: 18px;
}
.cs-form button {
  background-color: #227;
  color: #FFF;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 20px 0px;
  transition: 300ms;
}
.cs-form button:hover {
  background-color: #84F;
  cursor: pointer;
}
.cs-form > form {
  display: flex;
  flex-direction: column;
}
.cs-reset-text {
  background: none !important;
  border: none !important;
  color: #AAA;
  font-size: 24px;
  text-decoration: underline;
}
a {
  color: #84F;
  transition: 300ms;
}
a:hover {
  color: #227;
}